
*{
    margin: 0;
    padding: 0;
}
body{
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


header{
    background: rgb(71,11,6);
    background: linear-gradient(90deg, rgba(71,11,6,1) 9%, rgba(31,9,121,1) 51%, rgba(255,166,0,1) 100%);
}
#navbar {
overflow: hidden;
background-color: #333;
}
#navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

#navbar a:hover {
background-color: #ddd;
color: black;
}

#navbar a.active {
background-color: #4CAF50;
color: white;
}

.content {
padding: 16px;
}

.sticky {
position: fixed;
top: 0;
width: 100%;
}

.sticky + .content {
padding-top: 60px;
}


h1{
position: absolute;
left: 0; top: 0; 
width: 100%;
margin: 0 auto;
}
h1{
    font-family: 'Lobster', cursive;
    font-size: 64px;
}
h2{
    padding-top: 80px;
}
h3{
     font-family: 'Lobster', cursive;
    font-size: 40px;
    color: white;
}
h4{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: white;
}
.subtitle{
    font-family: 'Lobster', cursive;
    font-size: 24px;
}

.btn{
    display: flex;
    justify-content: center;
}

.button {
display: block;
border-radius: 4px;
background-color: #f4511e;
border: none;
color: #FFFFFF;
text-align: center;
font-size: 28px;
padding: 20px;
width: 200px;
height: 200px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button:hover span {
padding-right: 25px;
}

.button:hover span:after {
opacity: 1;
right: 0;
}
.text{
    background-color: yellow;
    border: 4px double black;
    border-radius: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    font-size: 24px;
    margin: 20px;
    padding: 50px;
}
.image_style{
    
    display: flex;
    justify-content: center;
}
.img_style{
    margin: 0 auto;
}
body{
    margin: 0;
    padding: 0;

}